.ant-image {
	width: 300px;
	border-radius: 5px;

	&-img,
	&-mask {
		border-radius: 15px;
	}
}

.small-image {
	width: 100px;
	border-radius: 50%;

	& .ant-image-img,
	.ant-image-mask {
		border-radius: 50%;
		height: 100px;
	}
}
